<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Admin | Crear Nuevo Item</title>
</head>

<body>
    <%- include('../partials/headerAdmin') %>
    <body>
        <section class="item container">
            <h1 class="item__titulo">EDITAR ITEM</h1>
            <form action="/admin/create/<%= producto.product_id %>" method="post">
                <div class="item__linea">
                    <label for="categoria" class="item__label">Categoria:</label>
                    <select name="categoria" id="categoria" value="<%= producto.category_name %>">
                        <option value="figuras" selected>Figuras coleccionables</option>
                        <option value="seleccionar">Seleccionar</option>
                    </select>
                    <label for="licencia" class="item__label">Licencia:</label>
                    <select name="licencia" id="licencia" value="<%= producto.licence_name %>">
                        <option value="seleccionar">Seleccionar</option>
                        <option value="star_wars">Star Wars</option>
                        <option value="pokemon">Pokemon</option>
                        <option value="harry_potter">Harry Potter</option>
                    </select>
                </div>
                <div class="item__linea">
                    <label for="producto" class="formulario__label">Nombre del Producto:</label>
                    <input class="item__input" name="producto" id="producto" type="text" value="<%= producto.product_name %>"> 
                </div>
                <div class="item__linea">
                    <textarea class="item__description" name="descripcion" id="descripcion" value="<%= producto.product_description %>"></textarea>
                </div>
                <div class="item__linea">
                    <label for="sku" class="item__label">SKU:</label>
                    <input class="item__input" name="sku" id="sku" type="text" value="<%= producto.product_sku %>">
                    <label for="precio" class="item__label">Precio:</label>
                    <input  class="item__input" name="precio" id="precio" type="text" value="<%= producto.product_price %>">
                    <label for="stock" class="item__label">Stock:</label>
                    <input class="item__input" name="stock" id="stock" type="text" value="<%= producto.dues %>">
                </div>
                <div class="item__linea">
                    <label for="descuento" class="item__label">Descuento:</label>
                    <input class="item__input" name="descuento" id="descuento" type="text" placeholder="0%" value="<%= producto.product_discount %>">
                    <label for="cuotas" class="item__label">Cuotas:</label>
                    <select name="cuotas" id="cuotas" value="<%= producto.product_cuotas %>">
                        <option value="tres">3 Cuotas sin interés</option>
                        <option value="seis">6 Cuotas sin interés</option>
                        <option value="doce">12 Cuotas sin interés</option>
                    </select>
                </div>
                <div class="item__linea">
                    <label for="imagenes" class="item__label">Imagenes:</label>
                    <button class="" type="submit">Elegir archivos</button>
                    <p class="item__leyenda">No se ha seleccionado ningún archivo</p>
                </div>
                <div class="item__imagenes">
                    <picture class="imagen" >
                        <img src="<%= producto.img_front %>" alt="Imagen del producto - Frente">
                        <label for="frente">FRENTE</label>
                    </picture>
                    <picture class="imagen" >
                        <img src="<%= producto.img_back %>" alt="Imagen del producto - Dorso">
                        <label for="dorso">DORSO</label>
                    </picture>
                </div>
                <div class="item__botones">
                    <button class="item__boton" type="submit">Modificar Producto</button>
                </div>
            </form>
        </section>
    </body>
    <%- include('../partials/footerAdmin') %>
</body>

</html>